@import "../../App.scss";

body {
    background: $color6;
}

.dashboard {
    display: flex;
    flex-direction: column;

    .navbar {
        color: $color4;
        background: $color4;
        display: flex;
        flex-direction: column;
        width: 10%;
        gap: 12px;
        padding-left: 12px;
        padding-right: 12px;
        filter: drop-shadow(0 0 0.1rem 0.1rem #ffffff);

        .main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $color4;
            background: $color4;
            padding-bottom: 50px;
            .Box {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            .text {
                display: flex;
                gap: 12px;
                color: $color10;
                font: $font;
                font-size: 16px;
                font-weight: map-get($map: $font-weight, $key: normal);
            }
        }
    }

    .Topbar {
        background-color: $color4;
        display: flex;
        height: 7%;
        width: 100%;
        gap: 50px;
        align-items: center;

        .image {
            width: 10%;
        }

        .search {
            height: 40px;
            // color: #000;
            width: 40%;
            border-radius: 10px solid rgba(42, 91, 195, 0.35);
            box-shadow: none;
            filter: drop-shadow(0 0 0 0 #ffffff);
            font: $font;
            font-size: 14px;
            font-weight: map-get($map: $font-weight, $key: normal);
        }

        .search::placeholder {
            text-align: center;
            font: $font;
            font-size: 14px;
            font-weight: map-get($map: $font-weight, $key: normal);
        }

        .name_and_title {
            display: flex;
            flex-direction: column;
            font: $font;
            font-size: 16px;
        }
    }
}
