@import "./App.scss";

body {
    background: $color6;
    font-family: $font;
}

.dashboard {
    display: flex;
    // @extend .navbar;

    .navbar {
        height: 100vh;
        color: $color4;
        background: $color4;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-left: 0.7%;
        padding-right: 0.7%;
        filter: drop-shadow(0 0 0.1rem 0.1rem #ffffff);

        .main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $color4;
            background: $color4;
            padding-bottom: 50px;

            .Box {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .icon-box {
                    display: flex;
                    flex-direction: column;
                    .image {
                        height: 80px;
                    }
                }

                .text {
                    cursor: pointer;
                    display: flex;
                    gap: 12px;
                    color: $color10;
                    font: $font;
                    font-size: 20px;
                    font-weight: 500;
                    align-items: center;
                }
            }
        }
    }


    .AppContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        // height: 100%;
        overflow: scroll;

        .Topbar {
            background-color: $color4;
            display: flex;
            height: 85px;
            gap: 50px;
            align-items: center;
            padding-left: 50px;

            .search {
                height: 40px;
                width: 40%;
                border-radius: 10px solid rgba(42, 91, 195, 0.35);
                box-shadow: none;
                filter: drop-shadow(0 0 0 0 #ffffff);
                font: $font;
                font-size: 14px;
                font-weight: map-get($map: $font-weight, $key: normal);
            }

            .search::placeholder {
                text-align: center;
                font: $font;
                font-size: 14px;
                font-weight: map-get($map: $font-weight, $key: normal);
            }

            .name_and_title {
                display: flex;
                flex-direction: column;
                font: $font;
                font-size: 16px;
            }
        }
        .AllRequests {
        
            background: $color4;
            margin: 1%;
            border-radius: 20px;
            padding: 1%;
    
            display: flex;
            flex-direction: column;
            height: 50%;
            gap: 2%;
            overflow: auto;
            
            
    
            
            .RequestCard{
                background: $color2;
                border-radius: 20px;
                padding: 1%;
    
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
    
                .RequestCardInfo{
                    display: flex;
                    flex-direction: column;
                }
                .RequestCardButtons{
    
                    width: 20%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
    
        }

        .bookapp {
            display: flex;
            height: 20%;
            width: 50%;
            background-color: $color4;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-left: 10px;
            border-radius: 20px;

            .book {
                height: 50%;
                width: 35%;
                font-size: x-large;
                color: $color4;
                border-radius: 20px;
                background-color: $color1;
                // position: relative;
            }
            .popup {
                display: flex;
                align-items: center;
                justify-items: center;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.2);

                .pop-in {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 1;
                    left: 50%;
                    transform: translate(-50%, 0);
                    padding: 32 px;
                    width: 50%;
                    background-color: $color4;
                    border-radius: 15px;

                    .close {
                        position: absolute;
                        top: 16px;
                        right: 16px;
                    }
                }
            }
        }

        .applist {
            display: flex;
            flex-direction: column;
            height: 66%;

            background-color: $color4;
            justify-content: start;
            align-items: start;
            padding: 1%;
            margin: 1%;
            border-radius: 20px;
            overflow: scroll;

            .t1 {
                height: 12%;
                width: 60%;
                display: flex;
                background-color: $color2;
                justify-content: space-between;
                padding-left: 10px;
                padding-right: 20px;
                align-items: center;
                margin: 5px;
                border-radius: 20px;

                .t2 {
                    display: flex;
                    padding-left: 30px;
                    font-size: large;
                    align-items: center;
                }

                .button {
                    background: $color7;
                    width: 15%;
                    height: 70%;
                    color: #ffffff;
                    font: $font;
                    font-size: 20px;
                    font-weight: 400;
                    cursor: pointer;
                }

                .prescbutton {
                    margin-right: 30px;
                    background-color: $color4;
                    color: $color1;
                    cursor: pointer;
                    
                }

                .popup {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0.2);

                    .pop-in {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 1;
                        left: 50%;
                        transform: translate(-50%, 0);
                        padding: 32 px;
                        width: 50%;
                        background-color: $color4;
                        border-radius: 15px;

                        .close {
                            position: absolute;
                            top: 16px;
                            right: 16px;
                        }
                    }
                }
            }
        }

        .chat {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 88%;
            background: $color8;

            .comments {
                display: flex;
                flex-direction: column;
                gap: 25px;

                .comment {
                    display: flex;
                    flex-direction: column;
                }
            }

            .reportCont {
                display: flex;
                flex-direction: row;
                height: 75%;
                justify-content: space-around;

                .report {
                    display: flex;
                    height: 90%;
                    width: 50%;
                    background: $color4;
                    margin-top: 3%;
                    margin-left: 3%;
                }

                .Box {
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    gap: 0;
                    margin-top: 3%;

                    .top-btn {
                        display: flex;
                        flex-direction: row;
                        gap: 0;

                        .box-btn {
                            width: 17%;
                            height: 50px;
                            justify-content: center;
                            align-items: center;
                            background: $color1;
                            padding-left: 20px;
                            padding-right: 20px;
                            border-radius: 10px;
                            font: $font;
                            color: $color2;
                            cursor: pointer;

                            &:hover {
                                background: $color7;
                            }
                        }

                        .active {
                            background: $color7;
                        }
                    }

                    .msgbox {
                        height: 90%;
                        // width: 40%;
                        background: $color2;
                        border-radius: 5px;
                        margin-right: 3%;
                        display: flex;
                        flex-direction: column;
                        // overflow: scroll;
                        flex-wrap: nowrap;

                        .title {
                            height: 50px;
                            display: flex;
                            border-bottom: 1px solid;
                            border-color: $color9;
                            background: $color4;
                            align-items: center;
                            justify-content: flex-start;
                            padding: 10px;
                        }

                        .all-msg {
                            display: flex;
                            flex-direction: column;
                            overflow: scroll;
                            height: 90%;
                            // border: solid;
                            .messages {
                                padding: 10px;
                                display: flex;
                                gap: 20px;
                                color: #ffffff;
                                height: 70px;
                                margin-bottom: 10px;
                                // overflow: hidden;
                                word-wrap: break-word;

                                .messageInfo {
                                    display: flex;
                                    flex-direction: column;
                                    color: $color10;
                                    font-weight: 300;
                                    img {
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        object-fit: cover;
                                    }
                                }

                                .messageContent {
                                    max-width: 80%;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;
                                    // flex-wrap: wrap;
                                    // overflow: hidden;

                                    .p {
                                        background: #8C8C8C ;
                                        // background-color: $color4;
                                        padding: 10px 20px;
                                        border-radius: 0px 40px 40px 40px;
                                    }

                                    .other {
                                        background: #0088CC;
                                    }
                                }
                            }

                            .other {
                                align-self: flex-end;
                                // color: ;
                                // justify-content: flex-end;
                            }
                        }

                        .input {
                            color: $color10;
                            height: 50px;
                            width: 70%;
                            display: flex;
                            border: 1px solid;
                            border-color: $color9;
                            border-radius: 30px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: auto;
                            margin-bottom: 2%;
                            align-items: center;
                            justify-content: center;

                            input {
                                width: 50%;
                                border: none;
                                outline: none;
                                background-color: $color2;
                                color: $color10;
                                font-size: 18px;
                                font-family: "Poppins";
                            }
                        }
                    }
                }
            }

            .bottomCont {
                display: flex;
                flex-direction: row;
                gap: 50px;
                background: $color8;
                height: 12%;
                align-items: center;
                margin: auto;
                justify-content: start;

                .button {
                    height: 80px;
                    width: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $color1;
                    // margin-left: 10%;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 40px;
                    font: $font;
                    cursor: pointer;
                    color: $color2;
                }

                .summary {
                    display: flex;
                    width: 40%;
                    margin-right: 4%;
                    margin-left: 10%;
                    background: $color4;
                }

                .popup {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0.2);

                    .pop-in {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 1;
                        left: 50%;
                        transform: translate(-50%, 0);
                        padding: 32 px;
                        width: 50%;
                        background-color: $color4;
                        border-radius: 15px;

                        .close {
                            position: absolute;
                            top: 16px;
                            right: 16px;
                        }
                    }
                }
            }
        }

        .icons {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            .pat-icon {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
}
