@import '../../App.scss';

body {
    overflow: hidden;
    margin: 0 0 0 0;
    background: $color4;
}
.apphome{
    display: flex;
    height: 100vh;
    background: $color8;

    .sidebar{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 12%;
        background: $color4;

        .logo{
            display: flex;
            height: 10%;
            align-items: center;
            justify-content: center;
        }

        .menu{
            display: flex;
            height: 35%;
            flex-direction: column;
            padding-left: 50px;
            padding-top: 50px;
            justify-content: space-around;
            color: $color10;
        }

        .general{
            display: flex;
            height: 15%;
            flex-direction: column;
            padding-left: 50px;
            padding-top: 20px;
            padding-bottom: 50px;
            justify-content: space-around;
            color: $color10;
        }
    }
    .appcontent{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 88%;
        background: $color8;

        .navbar {
            display: flex;
            height: 10%;
            width: 100%;
            background: $color4;
            align-items: center;
            justify-content: space-around;

            .search{
                color: $color10;
                display: flex;
                height: 50px;
                width: 40%;
                border: 1px solid;
                border-color: $color9;
                border-radius: 20px;
                align-items: center;
                justify-content: center;
            }

            .name{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }

            .date{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 100px;
                border: 1px solid;
                border-color: $color9;
                border-radius: 20px;
            }
            
            .icons{
                display: flex;
                height: 40px;
                width: 200px;
                align-items: center;
                justify-content: space-evenly;
            }
        }
        .bookapp{
            display: flex;
            height: 20%;
            width: 50%;
            background-color: $color4;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-left: 10px;
            border-radius: 20px;

            .book{
                height: 50%;
                width: 35%;
                font-size: x-large;
                color: $color4;
                border-radius: 20px;
                background-color: $color1;
                // position: relative;
            }
            .popup{
                display: flex;
                align-items: center;
                justify-items: center;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba(0,0,0,0.2);

                .pop-in{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top : 1;
                    left: 50%;
                    transform: translate(-50%, 0);
                    padding: 32 px;
                    width: 50%;
                    background-color: $color4;
                    border-radius: 15px;

                    .close{
                        position: absolute;
                        top: 16px;
                        right: 16px;
                    }

                }
            }
        }
        .applist{
            display: flex;
            flex-direction: column;
            height: 66%;
            width: 98%;
            background-color: $color4;
            justify-content: start;
            align-items: start;
            padding: 10px;
            margin-top: 10px;
            margin-left: 10px;
            border-radius: 20px;
            overflow: scroll;

            .t1{
                height: 12%;
                width: 60%;
                display: flex;
                background-color: $color2;
                justify-content: start;
                align-items: center;
                margin: 5px;
                border-radius: 20px;

                .t2{
                    padding-left: 30px;
                    font-size: large;
                }
            }

        }
    }
}